<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEKSITE4 Blog</title>
    <link rel="stylesheet" href="static 'style_list.css'"
</head>
    <body>
        <div class="container">
            <h1> Latest News</h1>
            <ul "class=news-list"> 
                        <li>INEC Fires Back at PDP Governors Over Election Rigging Allegations</li>
                    </li>
                    <li> Tiwa Savage shares craziest thing she has ever done for love November 25, 2024</li>
                    <li>created and posted at <a href="http://leksite4.blogspot.com/">LEKSITE4 BLOG</li>
                    <li>For more headlines, check </li>
            </ul>
                <footer><a href="http://leksite4.blogspot.com/">LEKSITE4</footer>
                <footer><a href="post_detail.html">Click for News in detail</footer>
                    <footer><a href="post_create.html">Click to create more news</a></footer>
        </div>
    </body>
</html>
